html{
    font-size: 12px;
}
/*清除浮动代码*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.wrap{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eceff1;
    overflow: hidden;
}
.header{
    flex: 1 0 auto;
    position: relative;
    padding: 0 2.5rem 0 1.8rem;
    height: 5.5rem;
    background-color: #fff;
    z-index: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.search-box{
    margin:auto;
}
.logo{
    float:left;
    margin-right:8px;
}
.search{
    float:left;
    height:40px;
}
.input{
    float:left;
    width:400px;
    height:32px;
    border:1px solid #3385ff;
    padding-left:8px;
    outline:none;
}
:focus {
    outline: none;
}
.button{
    float:left;
    width:100px;
    height:34px;
    border:none;
    background:#3385ff;
    font-size:16px;
    color:#fff;
}
.content{
    flex: 1 1 auto;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.app_wrap{
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    align-items: center;
    padding-left: 5px;
    margin: 0 0 1.2rem;
    min-height: 3.5rem;
    overflow: auto;

}
.wrap-content ul{
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}
.wrap-content li{
    min-height: 13rem;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    background: #fff;
}
.wrap-content li span{
    margin-right: 25px;
    font-size: 1.2rem;
}
.activeImg{
    flex: 0 1 auto;
    padding: 20px 0 0 20px;
}
.active{
    flex: 1 1 auto;
    padding-left: 10px;
    position: relative;
}
.des{
    font-size: 14px;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.el-select .el-input{
    width: 150px;
    margin-left: 10px;
}
.wrap-content{
    flex: 1 1 auto;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
}
.main-area{
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 1.8rem 1.2rem 0 1.8rem;
    overflow: hidden;
}

.entry-list ul{
    padding: 0.5rem 0 0 1.2rem;
}
.entry-list li{
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    /* height: 86px; */
    width: 7.8rem;
    margin: 0.4rem 0.22rem;
    text-align: center;
}
.entry-list li a{
    display: block;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 0 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.entry-list li a svg{
    display: inline-block;
    width: 56px;
    height: 56px;
    vertical-align: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
.entry-list li a .title{
    display: block;
    line-height: 32px;
    font-family: sans-serif;
    color: #333;
    font-size: 14px;
}
.source{
    flex: 0 0 auto;
    width: 38rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.source-navbar{
    margin: 0 0 1.2rem;
    min-height: 3.5rem;
    background-color: #fff;
    border-radius: 2px;
    z-index: 250;
    display: flex;
    align-items: center;
    margin-right: .8rem!important;
}
.source-selector{
    position: relative;
    height: 100%;
    font-size: 1.35rem;
    font-family: Verdana,Geneva,Microsoft YaHei,Microsoft JhengHei,Helvetica Neue,sans-serif;
    color: #646c7b;
}
.curr{
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.curr img{
    width: 2.833rem;
    height: 2.833rem;
    border-radius: 2px;
    margin: 0 1rem 0 .4rem;
}
.curr .title[_v-270ab51e] {
    color: rgb(4, 74, 171);
    margin: 0 1rem 0 0;
    opacity: 1;
}
.entry-list{
    flex: 1 1 auto;
    position: relative;
    /*overflow-y: hidden;*/
    padding-right: .8rem;
    overflow-y: scroll;
}
.nav-inner{
    border-radius: 2px;
    background: #fff;
}
.nav-inner .logo{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.nav-inner .logo img{
    width: 50px;
    height: 50px;
}
.out-side-nav{ // 外部导航

}
.outside-nav h3, .inside-nav h3{
    padding-left: 10px;
    font-size: 14px;
    background: #f7cfa7;
}