html{
    font-size: 12px;
}
[v-cloak] {
    display: none;
}
/*清除浮动代码*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.wrap{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eceff1;
    overflow: hidden;
}
.header{
    position: relative;
    padding: 0 2.5rem 0 1.8rem;
    height: 3.2rem;
    background-color: #ffffff;
    z-index: 500;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 1px 1px 1px #c5c5c5;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 0 0 auto;
}
.header img{
    width: 11rem;
    padding-left: 0.5rem;
}
.search-area{
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 1.2rem 1.8rem 1.2rem 1.8rem;
    /* overflow: hidden; */
    background: #fff;
    border-radius: 2px;
}
.search-box{
    width:700px;
    margin:1.5rem auto;
}
.search-box ul.tabs{
    height:100px;
    background:#fff;
    border:1px solid #d2d2d2;
    position:absolute;
    top:3.5rem;
    z-index:999;
    display:none;
    width: 116px;
    left: -9px;
    border-radius: 2px;
}
.search-box ul.tabs li{
    font-weight: bold;
    width: 100px;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 5px;
}
.search-box ul.tabs li:last-child{
    border-bottom:none;
}
.search-logo{
    float:left;
    margin-right:0.5rem;
}
.search-logo a{
    float:left;
}
.search-logo .triangle{
    margin-top:1.8rem;
    margin-left:0.5rem;
    cursor: pointer;
}
.search{
    float:left;
    height:40px;
}
.selectUp{
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #787C7F;
}
.selectDown{
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom: 6px solid #787C7F;
}
.dropDown{
    z-index: 99;
    background: #fff;
    position: absolute;
    top: 35px;
    left:125px;
    width: 407px;
    border: 1px solid #eee;
    border-top: none;
    display: none;
}
.dropDown li {
    height: 25px;
    line-height: 25px;
    padding-left:10px;
}
.dropDown li:hover {
    background: #eee;
    cursor: pointer;
}

.input{
    float:left;
    width:400px;
    height:32px;
    border:1px solid #3385ff;
    padding-left:8px;
    outline:none;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}
:focus {
    outline: none;
}
.button{
    float:left;
    width:100px;
    height:34px;
    border:none;
    background:#3385ff;
    font-size:16px;
    color:#fff;
}
.content{
    flex: 1 1 auto;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.app_wrap{
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    align-items: center;
    padding-left: 5px;
    /*margin: 0 0 1.2rem 10px;*/
    margin: 0 0 4px 10px;
    min-height: 3rem;
    /*overflow: auto;*/
    border-radius: 2px;
    position:relative;
}
.wrap-content ul{
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    padding-left: 8px;
}
.wrap-content li{
    width: 50%;
    cursor: pointer;
    box-sizing: border-box;
    height: 13rem;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
}
.wrap-content li span{
    margin-right: 25px;
    font-size: 1.2rem;
}
.activeImg{
    flex: 0 1 auto;
    padding: 20px 0 0 20px;
    background: #fff;
    border-radius: 2px;
}
.active{
    flex: 1 1 auto;
    padding-left: 10px;
    position: relative;
    background: #fff;
    border-radius: 2px;
}
.des{
    font-size: 14px;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.right-select{
    position: absolute;
    right: 4.6rem;
}
.right-select .el-select .el-input{
    width: 12rem;
    height: 2rem;
}
.el-select .el-input{
    width: 8rem;
    height: 2rem;
    margin-left: 10px;
}
.wrap-content{
    flex: 1 1 auto;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
}
.main-area{
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 1.2rem 0 1.8rem;
    overflow: hidden;
}

.entry-list ul{
    padding: 0.5rem 0 0 1.2rem;
}
.entry-list li{
    padding: 1px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    width: 7.8rem;
    margin: 0.4rem 0.06rem;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.entry-list li a{
    display: block;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 0 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.entry-list li a svg{
    display: inline-block;
    width: 56px;
    height: 56px;
    vertical-align: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
}
.entry-list li a .title{
    display: block;
    line-height: 32px;
    font-family: sans-serif;
    color: #333;
    font-size: 14px;
}
.source{
    flex: 0 0 auto;
    width: 36rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.source-navbar{
    /*margin: 0 0 1.2rem;*/
    margin: 0 0 4px;
    min-height: 3rem;
    background-color: #fff;
    border-radius: 2px;
    z-index: 2;
    display: flex;
    align-items: center;
}
.source-selector{
    position: relative;
    height: 100%;
    font-size: 1.35rem;
    font-family: Verdana,Geneva,Microsoft YaHei,Microsoft JhengHei,Helvetica Neue,sans-serif;
    color: #646c7b;
}
.curr{
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.curr img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin: 0 1rem 0 .4rem;
}
.curr .title[_v-270ab51e] {
    color: rgb(4, 74, 171);
    margin: 0 1rem 0 0;
    opacity: 1;
}
.entry-list{
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    background: #fff;
    margin-bottom: 8px;
}
.nav-inner{
    border-radius: 2px;
    background: #fff;
}
.nav-inner li:hover{
    border-radius: 5px;
    box-shadow: 0px 2px 16px #ccc;
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.nav-inner .logo{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.nav-inner .logo img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
}
.wrap .el-input__inner {
    height: 100%;
}
.out-side-nav{ // 外部导航

}
.outside-nav h3, .inside-nav h3{
    padding-left: 10px;
    font-size: 14px;
    background: #f7cfa7;
}
.activeImg img{
    border-radius: 3px;
}
.repo-meta{
    color: #666;
}
.wrap .el-input--suffix .el-input__inner{
    background-color: #f8f9fb;
    border: 0;
}

.wrap .el-loading-mask{
    left:10px;
}
@media screen and (max-width: 1200px) {
    .wrap-content li {
        width: 100%;
    }
}
.project-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:center;
}
.project-li{
    flex: 1 1 auto;
    width: 9rem;
    margin: 0 .8rem 0;
    border: 1px solid #efe5d4;
    border-radius: 2px;
    cursor: pointer;
}
.el-dialog__wrapper{
    z-index: 12000 !important;
}
.el-dialog__header{
    background: #eb9e05;
    text-align: center;
}
.wrap .el-dialog__title{
    color: #ffffff;
    text-align: center;
}
.project-li:hover{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.project-li:active{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.project-column div{
    flex: 1 1 auto;
}
.projectIcon{
    position: absolute;
    z-index: 999;
    padding: 3px;
    right: 8.8rem;
}
.project .el-input{
    width: 8.5rem !important;
}
.project .el-input__inner{
    border: none;
}
.wrap .el-select-dropdown__item span {
    line-height: 34px!important;
    font-weight: normal;
}
.selectTopic{
    font-size: 1.433rem;
    text-align: center;
    font-family: PingFang SC,-apple-system,Arial,Microsoft YaHei,Microsoft JhengHei,Helvetica Neue,sans-serif;
    color: #000;
}
.wrap .el-dialog__headerbtn .el-dialog__close{
    color: #ecce92;
}
.wrap .el-dialog__body{
    color:#000;
}
.wrap .el-loading-mask{
    z-index: 100;
}
.wrap .github{
    position: absolute;
    right: 2rem;
    font-size: 1.5rem;
    top: 28%;
    color: #e4e7ea;
}
.logo{
    font-family: museo-slab,'Microsoft YaHei',Georgia,"Times New Roman",Times,serif;
    font-size: 1.8rem;
    color: #f08300;
    font-weight: BOLD;
}